[Unit]
Description=Set IP Address After Network is Ready
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/network_related/start_dpgui.sh
Restart=on-failure

[Install]
WantedBy=default.target