[Unit]
Description=Start ThrustmasterTX GUI
After=xserver-nodm.service
Requires=xserver-nodm.service

[Service]
Restart=on-failure
Type=simple
ExecStart=/opt/tmtx/tmtx-ui-launch.sh
RestartSec=1
User=root
WorkingDirectory=/config/gui

[Install]
WantedBy=multi-user.target